@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@100;300;400;500;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Lilita One', sans-serif;
}

body {
  background: #fff;
}

#app {
  width: 100vw;
  height: 100vh;
  text-shadow: -1px -1px 0 white, 1px 1px 0 white, -1px 1px 0 white, 1px -1px white;
}

#book {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}

#cover {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.spread {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  z-index: 2;
  pointer-events: all;
}

.nav_btn {
  position: absolute;
  cursor: pointer;
  color: orange;
  font-size: 48px;
  bottom: 16px;
}

.nav_btn:hover {
  color: red;
}

.next_btn {
  right: 50%;
  transform: translateX(50%);
}

.back_btn {
  left: 50%;
  transform: translateX(-50%);
}

.page {
  width: 50%;
  height: 100%;
  position: relative;
  background-color: white;
}

.page:before {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 5%;
  background: linear-gradient(90deg, rgba(0,0,0,.3) 0%, rgba(0,0,0,0) 100%);
  content: "";
  pointer-events: none;
  z-index: 1;
}

.page:nth-child(1):before {
  right: 0;
  left: auto;
  background: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,.4) 100%);
}

.spread .page:nth-child(1) {
  animation: flipPage 3s;
  transform-origin: center right;
  background: white;
  z-index: 1;
  box-shadow: -5px 0 25px rgba(0, 0, 0, .5);
}

.spread .page:nth-child(1):after {
  position: absolute;
  animation: hidePage 3s;
  top: 0;
  right: 0;
  height: 100%;
  width: 0%;
  content: "";
  pointer-events: none;
  z-index: 3;
  background: white;
}

@keyframes flipPage {
  from {
    transform: rotateY(150deg);
  }
  to {
    transform: rotateY(0deg);
  }
}

@keyframes hidePage {
  0% {
    width: 100%;
  }
  20% {
    width: 100%;
  }
  25% {
    width: 0%;
  }
  100% {
    width: 0%;
  }
}

.loading_gif {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(./assets/loading.gif) no-repeat center center;
  background-size: 32px 32px;
  pointer-events: none;
}

#title {
  position: absolute;
  top: 16%;
  left: 50%;
  font-size: 48px;
  color: orange;
  z-index: 1;
  transform: translateX(-50%);
  text-align: center;
}

#title span {
  font-family:'Lilita One' !important;
}

#a_title {
  font-size: 80px;
  position: relative;
  width: 80px;
  height: 80px;
  display: inline-block;
  margin: 0;
}

#a_title:after {
  content: "";
  width: 64px;
  height: 64px;
  border: 8px solid red;
  display: block;
  position: absolute;
  border-radius: 100%;
  border-bottom-color: transparent;
  border-right-color: transparent;
  transform: rotate(45deg);
  top: 4px;
  left: 0;

}

.img_container {
  flex: 1;
  width: 100%;
  height: 100%;
  position: relative;
  background: center center no-repeat;
  background-size: contain;
}

.text_container {
  flex: 1;
  width: 100%;
  height: 100%;
  position: relative;
  background: white center center no-repeat;
  background-size: contain;
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 24px;
  font-family:'Lilita One', cursive !important;
  padding: 0 25%;
}

.wrapper {
  width: 100%;
  padding: 8px;
  max-width: 1280px;
  margin: 0 auto;
}

.ai {
  
  color:#6ED3EA;
}

.chat {
  width: 75%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 4px;
  background: rgba(220, 220, 220, 0);
  border-radius: 16px;
  padding: 4px;
  text-shadow: 1px 1px 0 #fff, -1px -1px 0 #fff, -1px 1px 0 #fff, 1px -1px 0 #fff;

  color:#60D989;
}

.profile {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.ai .profile {
  background: #6ED3EA;
}

.profile img {
  width: 60%;
  height: 60%;
  object-fit: contain;
}

.message {
  flex: 1;
  margin: 4px 0 0 4px;
  color: #000;
  font-size: 20px;

  max-width: 100%;
  overflow-x: scroll;

  /*
   * white space refers to any spaces, tabs, or newline characters that are used to format the CSS code
   * specifies how white space within an element should be handled. It is similar to the "pre" value, which tells the browser to treat all white space as significant and to preserve it exactly as it appears in the source code.
   * The pre-wrap value allows the browser to wrap long lines of text onto multiple lines if necessary.
   * The default value for the white-space property in CSS is "normal". This tells the browser to collapse multiple white space characters into a single space, and to wrap text onto multiple lines as needed to fit within its container.
  */
  white-space: pre-wrap; 

  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* hides scrollbar */
.message::-webkit-scrollbar {
  display: none;
}

form {
  width: 100%;
  height: 100%;
  padding: 48px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 32px;
}

form .loading_gif {
  display: none;
}

form.disabled .loading_gif {
  display: block;
}

textarea {
  width: 100%;
  color: #000;
  font-size: 18px;
  background: #e8e8e8;
  padding: 8px;
  border-radius: 4px;
  border: none;
  outline: none;
  flex-grow: 1;
  resize: none;
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
}

label {
  position: relative;
  bottom: -8px;
}

textarea#artstyle {
  height: 20%;
  flex-grow: 0;
}

button {
  outline: 0;
  border: 0;
  cursor: pointer;
  color: orange;
  font-size: 48px;
  background: none;
  font-family:'Lilita One', cursive !important;
}

button:hover {
  color: red;
}

form img {
  width: 30px;
  height: 30px;
}

form.disabled {
  pointer-events: none;
  opacity: .5;
}